<htmt>

    <head>
        <title>How To: Vera Molnar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="container">
            <div class="game-content">
                <div class="mode-container">
                    <div class="mode">
                        Editor
                    </div>
                    <div class="mode">
                        Gallery
                    </div>
                
                </div>
                <div class="art-canvas">
                
                </div>

                <div class="game-toolbar">
                
                </div>
                
            </div>


        
            <div class="toolbar">
                <dix class="toolbar-button-container">

                </dix>

                <dix class="toolbar-button-container">
                    
                </dix>

                <dix class="toolbar-button-container">
                    
                </dix>

                <dix class="toolbar-button-container">
                    
                </dix>

                <dix class="toolbar-button-container">
                    
                </dix>

  
            </div>
        </div>
    </body>
</htmt>