#question:after {
    content: "wo stehe ich hier?";
    animation: abomination 6.5s linear 1; 
    animation-fill-mode: forwards;
    width: calc(100vw - 6em);
    font-family: ABCGalapagosA;
    font-size: 2.3em;
    color: #6232FB;
    margin: 1em;
    line-height: 1.5em;
}

  @keyframes abomination {
      0% {
        content: "";
      }
      4% {
        content: "w";
      }
      8% {
        content: "wo";
      }
      12% {
        content: "wo ";
      }
      16% {
        content: "wo s";
      }
      20% {
        content: "wo st";
      }
      24% {
        content: "wo ste";
      }
      28% {
        content: "wo steh";
      }
      32% {
        content: "wo stehe";
      }
      36% {
        content: "wo stehe ";
      }
      40% {
        content: "wo stehe i";
      }
      44% {
        content: "wo stehe ic";
      }
      48% {
        content: "wo stehe ich";
      }
      52% {
        content: "wo stehe ich ";
      }
      56% {
        content: "wo stehe ich h";
      }
      60% {
        content: "wo stehe ich hi";
      }  
      64% {
        content: "wo stehe ich hie";
      }
      68% {
        content: "wo stehe ich hier";
      }
      72% {
        content: "wo stehe ich hier?";
      }
      100% {
        content: "wo stehe ich hier?";
      }      
}