html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
}
#game-canvas{
  position: relative;
}
#toolbar{
  position: fixed;
  bottom:0px;
  height: 10vh;
  width: 100vw;
  background-color: #6232fb;
  padding: 10px;
  z-index: 41;
}

#game-toolbar{
  position: absolute;
  top:80vh;
  height: 10vh;
  width: 100vw;
  background-color: #2a2a2a;
  padding: 10px;
  z-index: 41;
}

#photo_p5{
  position: absolute;
  height:80vh;
  width:100vw;
  z-index: 21;
}

.myButton{
  color:white;
  width:50px;
  height:50px;
  background-color:#6232fb;
  border:1px solid;
  border-radius: 15px;
  margin:5px;
}

.myButton:hover{
  background-color:#9676ff;
}

.myButton:active{
  background-color:#6232fb;
}




#gallery{
  height: 95vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  z-index: 32;
  top: 0px;
  visibility: hidden;
  
}

.gallery-animation{
  animation-name: showGallery;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.gallery-animation-reverse{
  animation-name: hideGallery;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.gallery-container{
  height: 82vh;
  overflow-y: scroll;
  display: grid;
  background-color: black;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px 10px;
  justify-items:center;
  margin-bottom: 50px;
  padding: 20px;
}

.gallery-frame{
  position:relative;
  padding: 0px;
  margin: 0;
 
}

.gallery-frame:focus .image-button{
  visibility: visible;
 
}

.gallery-frame img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-frame img:focus {
  opacity: .5;
}


.image-button{
  position:absolute;
  visibility: hidden;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  bottom: 40px;
  right: 40px;

}

#contrast-container{
  position: relative;

}
 .toggle-button{
  width: 40px;
  height: 40px;
 }
 
.toggle-button button{
  padding: 0;
  border: 0;
  background: none;
}


 .toggle-button svg{
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  fill: aliceblue;
}

#contrast-button{
  border: 0;
  position: absolute;
  top:0px;
  left:0px;
  z-index: 20;
  background-color: #6232fb;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-image: url('img/noun_Contrast_1877935.svg');

}

#contrast-range{
  position: absolute;
  top:36px;
  left:0px;
}

.rotatedSlider{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}



@keyframes showGallery {
  0%   {top:100vh;}
 
  100% {top:0vh;}
}

@keyframes hideGallery {
  0%   {top:0vh;}
 
  100% {top:100vh;}
}


/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 100px;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
    padding-left: 40px;
    -webkit-appearance: none;
    background-color:rgba(255, 255, 255,0.7);
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #6232fb;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
background-color: #6232fb; 
}
input[type="range"]::-moz-range-track {  
background-color:rgba(255, 255, 255,0.7);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: #6232fb; 
}
input[type="range"]::-ms-fill-upper {  
  background-color:rgba(255, 255, 255,0.7);
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #6232fb;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #6232fb;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #6232fb;
  cursor: pointer;
}
