*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    width: 100%;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100vw;
}

#gameContainer{
    position: absolute;
    outline: none;
    width:100%;
    height:auto;
   
}

.tools{
    position:fixed;
    z-index: 10;
}