@font-face {
    font-family: ABCGalapagosA;
    src: url("fonts/ABCGalapagosAGrid-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: NeueHaasUnica-Regular;
    src: url("fonts/NeueHaasUnica-Regular.woff");
}

@font-face {
    font-family: NeueHaasUnica-Italic;
    src: url("fonts/NeueHaasUnica-Italic.woff");
}

@font-face {
    font-family: NeueHaasUnica-MediumItalic;
    src: url("fonts/NeueHaasUnica-MediumItalic.woff");
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    font-family: NeueHaasUnica-Regular;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
/*    -webkit-overflow-scrolling: touch;*/
    text-align: center;
    --color1: #ea2626;
    --color2: #60132d;
}

body{
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    font-size: calc(1.5vw + 1.2vh);
    background-color: #FBF6F0;
    scroll-behavior: smooth;
    transition: 600ms;
}

/* Launchscreen */

#launchscreen-wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;

    overflow-y: scroll;
    overflow-x: hidden;

    z-index: 3;
    color: white; 
}
  
#logo{
    font-size: 3.6em;
    line-height: 1;
    font-family: ABCGalapagosA;
}

#subtitle{
    font-size: 1.3em;
    font-family: NeueHaasUnica-Regular;
}

#start-info{
    height: calc(100% - 8em);
    width: calc(100% - 8em);
    padding: 4em;
    position: absolute;
    transition: 600ms;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    overflow-y: scroll;
    overflow-x: hidden;

    z-index: 2;
    color: var(--color1); 
}

/* Animation*/

.animation-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.square{
    width: 60vw;
    height: 60vw;
    background-color: var(--color1);
    mix-blend-mode: multiply;
    position: absolute;
    display: inline-block;
    transition: 1000ms ease-in-out;
}

#square-1{
    top: -20vw;
    left: -40vw;
    transform: rotate(7deg);
}

#square-2{
    top: -40vw;
    left: -5vw;
    transform: rotate(30deg);
}

#square-3{
    top: -15vw;
    left: 50vw;
    transform: rotate(10deg);
}

#square-4{
    top: 55vw;
    left: 20vw;
    transform: rotate(20deg);
}

#square-5{
    top: 70vw;
    left: -30vw;
    transform: rotate(-10deg);
}

#square-6{
    top: 120vw;
    left: 5vw;
    transform: rotate(25deg);
}

#square-7{
    top: 125vw;
    left: 40vw;
    transform: rotate(7deg);
}


/*Layout*/

section{
    border-radius: 2em;
    width: calc(100vw - 3em);
    height: calc((var(--vh, 1vh) * 100) - 1.5em);

    position: absolute;
    left: 1.5em;

    transition: 1000ms ease-in-out;
    box-shadow: rgba(0,0,0,0.2) 0 -5px 10px;
}

.section-light > * {
    color: black !important;
}

.section-dark > * {
    color: white !important;
}

.section-second{
    top: calc(100% - 1.5em);
}

.hidden{
    top: 120vh !important;
}

.bar{
    position: absolute;
    top: 0.8em;
    left: calc(50% - 1.5em);
    height: 0.3em;
    width: 3em;
    border-radius: 0.2em;
}

.bar.dark{
    background-color: rgba(255,255,255,0.7);
}

.bar.light{
    background-color: rgba(0,0,0,0.3);
}

.section-content{
    width: calc(100% - 4em);
    height: calc(100% - 6em);
    padding: 2em 2em 4em 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.content-wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;

    overflow-y: scroll;
    overflow-x: hidden;
}

.section-content-gallery{
    width: calc(100vw - 4em);
    padding: 2em 2em 4em 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 0.5em;
}

.fade{
    opacity: 0;
}

.dont-show{
    display: none !important;
}


/* Typografie */

h1 {
    font-family: ABCGalapagosA;
    font-size: 2.8em;
    margin-bottom: 20px !important;
    line-height: 1.3em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    line-height: 1.25;
}

.text-big{
    font-size: 1.3em;
    font-family: NeueHaasUnica-Regular;
}

.text-small{
    font-size: 1.1em;
    font-family: NeueHaasUnica-Regular;
    text-align: left;
}

figcaption{
    text-align: left;
    width: 100%;
    font-size: 0.9em;
    line-height: 1.25; 
    display: flex;
    justify-content: space-between;
    margin: 1em 0 0 0;
}

figcaption > p{
    text-align: left;
    margin: 0 !important;
}

.quote{
    font-size: 1.5em;
    line-height: 1.25;
}

a{
    text-decoration: underline !important;
}

.italic{
    font-family: NeueHaasUnica-Italic !important;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit !important;
}

/* Menü */

#molnar{
    top: 1.5em;
}

#trace{
    top: calc((100% - 2em) / 7 * 1 + 1.5em);
}

#character{
    top: calc((100% - 2em) / 7 * 2 + 1.5em);
}

#coincidence{
    top: calc((100% - 2em) / 7 * 3 + 1.5em);
}

#disorder{
    top: calc((100% - 2em) / 7 * 4 + 1.5em);
}

#magic{
    top: calc((100% - 2em) / 7 * 5 + 1.5em);
}

#app{
    top: calc((100% - 2em) / 7 * 6 + 1.5em);
}
  
.dropdown-list > li{
    list-style: none;
    font-size: 1.1em;
    font-family: NeueHaasUnica-Regular;
    text-align: center;
    width: 6em;
    margin: 0.4em 0;
    padding: 0.4em; 
    border-radius: 0.4em;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0.4em;
    transition: 300ms ease-in-out;
    opacity: 1;
    transform: translateY(0px);
    box-shadow: rgba(0,0,0,0.25) 0 0 4px;
  }  

.dropdown-list > li:hover{
    background-color: black;
  }

  li:first-child{
    margin-top: 0;
  }

  li:nth-child(2){
    transition-delay: 50ms;
  }

  li:nth-child(3){
    transition-delay: 100ms;
}

.display{
    display: none;
    }

  .inactive{
    opacity: 0 !important;
    transform: translateY(-20px) !important;
  }

/*  .quote-inactive{
    top: calc(100vh - 2em);
  }*/

/* Buttons */

.menu-icon{
    height: 10vh;
    width: 10vh;
    margin: 0 1em 0 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99999;
    transition: 300ms;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1em;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.game-buttons{
    display: flex;
    flex-direction: row;
    width: calc(100% - 1em);
    overflow: scroll;
    justify-content:flex-start;
}

.game-button{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    font-size: 0.9em;
    transition: all 0.5s;
}

.text-buttons{
    display: flex;
    justify-content: center;
    align-self: center !important ;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
}

.text-button{
    display: flex;
    flex-direction: row;
    height: auto; 
    width: auto;
    font-size: 100%;
    padding: 0.5em 0.9em 0.3em 0.9em;
    background-color: rgb(0,0,0,0);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-radius: 2em;
    transition: 300ms;
}

.text-button.light{
    color: var(--color2);
    border: var(--color2) solid 0.09em;
}

.text-button.dark{
    color: white;
    background-color: var(--color2);
}

.text-button.start{
    color: white;
    background-color: var(--color1);
}

.text-button.dark.neutral{
    color: white;
    background-color: transparent;
    border: solid white 0.09em;
}

.text-button:active{
    opacity: 0;
}

.text-button-icon{
    height: 1.3em;
    width: 1.3em;
    margin-right: 0.2em;
}

.button-icon{
    height: 2.6em;
    width: 2.6em;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999999;
}

.button-game-icon{
    height: 2.6em;
    width: 2.6em;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
}

/* ausstehend */

.support-logos{
    padding-bottom:1.5em;

    width: auto;
    height: auto;
}

div > img{
    width: calc(100vw - 7em);
    height: auto;
    align-self: center;
    
}

iframe{
    width: calc(100vw - 7em);
    height: auto;
}

#question-section > .section-content{
    height: calc(100% - 6em);
  }

  
#question-content{
    width: calc(100% - 2em);
    margin: 1em 1em 2em 1em;
    font-size: 2.5em;
    line-height: 1.7em;
  
    font-family: ABCGalapagosA;
}

/* Zuweisung SVG zu Button */

#icon-home-light{
    background-image: url(svg/icon-home-light.svg);
}

#icon-home-dark{
    background-image: url(svg/icon-home-dark.svg);
}

#icon-bulb-dark{
    background-image: url(svg/icon-bulb-dark.svg);
}

#icon-bulb-light{
    background-image: url(svg/icon-bulb-light.svg);
}

#icon-check-dark{
    background-image: url(svg/icon-check-dark.svg);
}

#icon-check-light{
    background-image: url(svg/icon-check-light.svg);
}

#icon-colour-light{
    background-image: url(svg/icon-colour-light.svg);
}

#icon-contour-light{
    background-image: url(svg/icon-contour-light.svg);
}

#icon-cross-dark{
    background-image: url(svg/icon-cross-dark.svg);
}

#icon-cross-light{
    background-image: url(svg/icon-cross-light.svg);
}

#icon-down-dark{
    background-image: url(svg/icon-down-dark.svg);
}

#icon-down-light{
    background-image: url(svg/icon-down-light.svg);
}

#icon-download-dark{
    background-image: url(svg/icon-download-dark.svg);
}

#icon-download-light{
    background-image: url(svg/icon-download-light.svg);
}

#icon-glyph-rotation-light{
    background-image: url(svg/icon-glyph-rotation-light.svg);
}

#icon-glyphs-light{
    background-image: url(svg/icon-glyphs-light.svg);
}

#icon-grid-amount-light{
    background-image: url(svg/icon-grid-amount-light.svg);
}

#icon-grid-coincidence-light{
    
    -webkit-mask-image: url(svg/icon-grid-coincidence-light.svg);
    mask-image: url(svg/icon-grid-coincidence-light.svg);
}

#icon-grid-gap-light{
    -webkit-mask-image: url(svg/icon-grid-gap-light.svg);
    mask-image: url(svg/icon-grid-gap-light.svg);
}

#icon-grid-light{
    -webkit-mask-image: url(svg/icon-grid-light.svg);
    mask-image: url(svg/icon-grid-light.svg);
}

#icon-grid-inside-light{
    -webkit-mask-image: url(svg/icon-grid-inside-light.svg);
    mask-image: url(svg/icon-grid-inside-light.svg);
}

#icon-grid-distance-light{
    -webkit-mask-image: url(svg/icon-grid-distance-light.svg);
    mask-image: url(svg/icon-grid-distance-light.svg);
}

#icon-grid-size-light{
    -webkit-mask-image: url(svg/icon-grid-size-light.svg);
    mask-image: url(svg/icon-grid-size-light.svg);
}

#icon-headphones-red{
    background-image: url(svg/icon-headphones-red.svg);
}

#icon-mirror-light{
    background-image: url(svg/icon-mirror-light.svg);
}

#icon-new-dark{
    background-image: url(svg/icon-new-dark.svg);
}

#icon-new-light{
    background-image: url(svg/icon-new-light.svg);
}

#icon-play-dark{
    background-image: url(svg/icon-play-dark.svg);
}

#icon-play-light{
    background-image: url(svg/icon-play-light.svg);
}

#icon-pause-dark{
    background-image: url(svg/icon-pause-dark.svg);
}

#icon-pause-light{
    background-image: url(svg/icon-pause-light.svg);
}

#icon-magic-dark{
    background-image: url(svg/icon-magic-dark.svg);
}

#icon-character-dark{
    background-image: url(svg/icon-character-dark.svg);
}

#icon-disorder-dark{
    background-image: url(svg/icon-disorder-dark.svg);
}

#icon-trace-dark{
    background-image: url(svg/icon-trace-dark.svg);
}

#icon-coincidence-dark{
    background-image: url(svg/icon-coincidence-dark.svg);
}

#icon-menu-dark{
    background-image: url(svg/icon-menu-dark.svg);
}

#icon-menu-light{
    background-image: url(svg/icon-menu-light.svg);
}