/* Layout */

.section-wrapper{
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transition: 1s ease-in-out;
}

section{
  position: sticky;
  overflow: scroll;
  transition: none !important;
  top: 0;
  margin-top: -1.5em;
}

/* Question -> mehr unter style.css, da bereits Anzeige in menu.html*/

/* Top positions */

@media only screen and (max-width: 480px) {
  #question-section{
    transform: translate(0,1.5em);
  }
  
  #quote-section{
    transform: translate(0,2.3em);
  }
  
  #introduction-section{
    transform: translate(0,3.1em);
  }
  
  #game-section{
    transform: translate(0,3.9em);
  }
  
  #gallery-section{
    transform: translate(0,4.7em);
  }

  #information-section{
    transform: translate(0,5.5em);
  }
  
}

@media only screen and (min-width: 481px) {

  #question-section{
    transform: translate(0,3em);
  }
  
  #quote-section{
    transform: translate(0,3.8em);
  }
  
  #introduction-section{
    transform: translate(0,4.6em);
  }
  
  #game-section{
    transform: translate(0,5.4em);
  }
  
  #gallery-section{
    transform: translate(0,6.2em);
  }

  #information-section{
    transform: translate(0,7em);
  }

}



/* Quote */


@media only screen and (max-width: 480px) {
  #quote-section > .section-content{
      height: calc(100% - 6em);
    }
}

@media only screen and (min-width: 481px) {
  #quote-section > .section-content{
      height: calc(100% - 9em);
    }
}

#quote-section > .section-content > .content-wrapper{
    width: calc(100% - 2em);
}


/* Introduction */

@media only screen and (max-width: 480px) {
  #introduction-section > .section-content{
      height: calc(100% - 6em);
    }
}

@media only screen and (min-width: 481px) {
  #introduction-section > .section-content{
      height: calc(100% - 9em);
    }
}

#introduction-section > .section-content > .content-wrapper{
  width: calc(100% - 2em);
}


/* Game */

#game-section{
    background-color: white !important;
    color: black;
    overflow: hidden;
}

#game-section > .section-content{
    height: calc(96% - 6em);
}

#game-section > .section-content{
    height: calc(96% - 6em);
}
#game-section > .section-content> .text-buttons{
   margin-bottom:40px;
}

.workaround-margin{
  margin-right: 1em;
}
.section-content-game{
/*   width: calc(100% - 4em);
  padding: 2em 2em 4em 2em; */
  width: calc(100% - 2em);
  padding: 2em 1em 4em 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  gap: 0.5em;
  user-select:none;
}

#game-section > .section-content-game{
  height: calc(96% - 6em);
}

.saved-image-transition{
  top:20vh;
position: absolute;
width: 70%;
aspect-ratio : 1 / 1;
background-color: #afafaf00;
z-index: 1000!important;
pointer-events: none;
}

.moved-image{
  background-color: #c2c0c078;
  top:100vh;
  width: 35%;
 aspect-ratio : 1 / 1;
 transition: all 1.5s;
 
}

.hiddenElement{
  opacity: 0;
  pointer-events: none;
}

#game-wrapper{
  position: relative;
    flex: 1;
    aspect-ratio : 1 / 1;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
    
    /*overflow-y:hidden;*/
    
    align-items: center;
        width: 100%;
    
        display: flex;
        flex-direction: column;
       
    
        overflow-y:hidden;
        overflow-x: hidden;
    
}

.game-functions{
    width: 80%;
    margin-bottom: 0em;
}

.functions-container{
  display: grid;
  margin-bottom: 1em;

}

.function{
  
  grid-column: 1;
  grid-row: 1;
  opacity: 1;
  transition: opacity 0.3s ease-in;

}

.transparent{
  opacity: 0;
}

.noPointerEvents{
  pointer-events: none;
}



.selected-text{
    color: #e86960 !important;
}

.not-selected-text{
    color:rgba(0, 0, 0, 0.8)!important;
}

.selected-icon{
    background-color:#E86960!important;
}

.not-selected-icon{
    background-color:rgba(0, 0, 0, 0.8)!important;
}


.checkbox-round {
    margin-top: 5px;
    accent-color:#E86960 ;
}

.game-checkboxes{
    
}

.hint{
  width: 100%;
  margin: 1em 1em 1em 1em;
  color: #730d0d;
}

#textInput{
  position: absolute;
  top:40%;
}

#characterInput{
  margin-top: 2em;
  border: 1px solid #60132d;
  height: 2.5em;
  border-radius:8px;
  font-size: 16px;
}



.color-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.color-field::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
.color-field::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

.character-wrapper{
  /* display: inline-block!important; */

 
}

/*CHARACTER GAME*/
#game-wrapper span {
 
  background-color: transparent;
  display: block;
  float: left;
  opacity: 1;
  text-transform: uppercase;
  transition: background-color .75s, color .75s, opacity .75s, transform .2s;
  user-select: none;
  font-size: 100px;
  width: 10px;
  height: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
  font-family: 'League Spartan Variable', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

#defaultCanvas0{
  overflow: hidden;

}

@font-face {
  font-family: 'League Spartan Variable';
  src: url('./spiele/assets/LeagueSpartan-VF.ttf');
  font-weight: 200 900;
}
.full{
  margin: 0 1em;
}
.full .clr-field button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.full .clr-field input {
  opacity: 0;
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

/*IOS button*/
#iosAccessButton {
  height: 50px;
}


  /* Add a track that shows the progress of the slider */

/* Gallery */

#gallery-section{
  background-color: #434343;
}

#gallery-section > .section-content{
    height: calc(94% - 6em);
}

#gallery-wrapper{
    width: 100%;
    /*aspect-ratio: 1 / 1.25;
    -webkit-aspect-ratio: 1 / 1.25;*/
    margin-bottom: 1em;
    height: auto !important;
    padding: 0 0.5em;

    flex-wrap: wrap;
    flex-direction: row !important;

    justify-content: flex-start !important;
    align-items: flex-start !important;
    align-content: flex-start !important;
    gap: 0.5em;

}
/*
#gallery-wrapper:before{
    content: '';
    position: absolute;
    width: calc(100vw - 6em);
    aspect-ratio: 1 / 0.05;
    -webkit-aspect-ratio: 1 / 0.05;
    background: linear-gradient(to bottom, #434343 0%, transparent 100%);
    z-index: 100;
}


#gallery-wrapper:after{
  content: '';
  position: absolute;
  top: calc((100vw - 6em) * 1.5);
  width: calc(100vw - 6rem);
  aspect-ratio: 1 / 0.05;
  -webkit-aspect-ratio: 1 / 0.05;
  background: linear-gradient(to bottom,transparent 0%, #434343 100%);
  z-index: 100;
}*/

.gallery-image-container{
    position: relative;
    width: calc(50% - 0.5em)!important;
    aspect-ratio: 1 / 1;   
    
    display: flex;
    justify-content: flex-end;

    background-color: grey;
    transition: 600ms;
    z-index: 24;
}

.gallery-image{
  width:100%;
}

.selected{
  opacity: 0.5 !important;
}

 .checkbox{
    position: absolute;
    top:0px;
    height: 1.5em;
    width: 1.5em;
    margin: 0.75em;

    border-radius: 0.75em;
    border: white solid 0.09em;
} 
 

.checkbox-active{
  background-color: white;
  background-image: url('svg/icon-check-light.svg');
}


.checkbox:active{
    background-color: white;
    background-image: url('svg/icon-check-light.svg');
}

/* Information */

#information-section{
    justify-content: flex-start !important;
    background-color: white;
    color: black !important;
    overflow: hidden !important;
}

@media only screen and (max-width: 480px) {
  #information-section > .section-content{
      height: calc(100% - 6em);
    }
}

@media only screen and (min-width: 481px) {
  #information-section > .section-content{
      height: calc(100% - 5em);
    }
}

#information-section > .section-content > .content-wrapper{
  padding-bottom: 3em;
  background: 
  /* Shadow Cover TOP */
  linear-gradient(
    white 30%,
    rgba(255, 255, 255, 0)
  ) center top,
  
  /* Shadow Cover BOTTOM */
  linear-gradient(
    rgba(255, 255, 255, 0), 
    white 70%
  ) center bottom,
  
  /* Shadow TOP */
  radial-gradient(
    farthest-side at 50% 0,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  ) center top,
  
  /* Shadow BOTTOM */
  radial-gradient(
    farthest-side at 50% 100%,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  ) center bottom;

  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;

}

.hideOverflow{
    overflow:hidden!important;
}


/*Slider*/
/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].range-slider {
    height: 2.2em;
    -webkit-appearance: none;
    width: 100%;
  }
  
  /*progress support*/
  input[type=range].range-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2.5em + var(--ratio) * (100% - 2.5em));
  }
  
  input[type=range].range-slider:focus {
    outline: none;
  }
  
  /*webkit*/
  input[type=range].range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2.5em;
    height: 2.5em;
    border-radius: 3em;
    background: #E6584D;
    border: 4px solid #FFFFFF;
    box-shadow: none;
    margin-top: calc(0.3em * 0.5 - max(2.5em * 0.5,4px));
  }
  
  input[type=range].range-slider::-webkit-slider-runnable-track {
    height: 0.3em;
    border: none;
    border-radius: 0.6em;
    background: #efefef;
    box-shadow: none;
  }
  
  input[type=range].range-slider::-webkit-slider-thumb:hover {
    background: #E6584D;
  }
  
  input[type=range].range-slider:hover::-webkit-slider-runnable-track {
    background: #E5E5E5;
  }
  
  input[type=range].range-slider::-webkit-slider-thumb:active {
    background: #E86960;
  }
  
  input[type=range].range-slider:active::-webkit-slider-runnable-track {
    background: #E5E5E5;
  }
  
  input[type=range].range-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#E6584D,#E6584D) 0/var(--sx) 100% no-repeat, #efefef;
  }
  
  input[type=range].range-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#E6584D,#E6584D) 0/var(--sx) 100% no-repeat, #E5E5E5;
  }
  
  input[type=range].range-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#E6584D,#E6584D) 0/var(--sx) 100% no-repeat, #E5E5E5;
  }
  
  /*mozilla*/
  input[type=range].range-slider::-moz-range-thumb {
    width: max(calc(2.5em - 4px - 4px),0px);
    height: max(calc(2.5em - 4px - 4px),0px);
    border-radius: 3em;
    background: #E6584D;
    border: 4px solid #FFFFFF;
    box-shadow: none;
  }
  
  input[type=range].range-slider::-moz-range-track {
    height: 0.3em;
    border: none;
    border-radius: 0.6em;
    background: #efefef;
    box-shadow: none;
  }
  
  input[type=range].range-slider::-moz-range-thumb:hover {
    background: #E6584D;
  }
  
  input[type=range].range-slider:hover::-moz-range-track {
    background: #E5E5E5;
  }
  
  input[type=range].range-slider::-moz-range-thumb:active {
    background: #E86960;
  }
  
  input[type=range].range-slider:active::-moz-range-track {
    background: #E5E5E5;
  }
  
  input[type=range].range-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#E6584D,#E6584D) 0/var(--sx) 100% no-repeat, #efefef;
  }
  
  input[type=range].range-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#E6584D,#E6584D) 0/var(--sx) 100% no-repeat, #E5E5E5;
  }
  
  input[type=range].range-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(#E6584D,#E6584D) 0/var(--sx) 100% no-repeat, #E5E5E5;
  }
  
  /*ms*/
  input[type=range].range-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].range-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].range-slider::-ms-thumb {
    width: 2.5em;
    height: 2.5em;
    border-radius: 3em;
    background: #E6584D;
    border: 4px solid #FFFFFF;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
  }
  
  input[type=range].range-slider::-ms-track {
    height: 0.3em;
    border-radius: 0.6em;
    background: #efefef;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
  }
  
  input[type=range].range-slider::-ms-thumb:hover {
    background: #E6584D;
  }
  
  input[type=range].range-slider:hover::-ms-track {
    background: #E5E5E5;
  }
  
  input[type=range].range-slider::-ms-thumb:active {
    background: #E86960;
  }
  
  input[type=range].range-slider:active::-ms-track {
    background: #E5E5E5;
  }
  
  input[type=range].range-slider.slider-progress::-ms-fill-lower {
    height: 0.3em;
    border-radius: 0.6em 0 0 0.6em;
    margin: -undefined 0 -undefined -undefined;
    background: #E6584D;
    border: none;
    border-right-width: 0;
  }
  
  input[type=range].range-slider.slider-progress:hover::-ms-fill-lower {
    background: #E6584D;
  }
  
  input[type=range].range-slider.slider-progress:active::-ms-fill-lower {
    background: #E6584D;
  }
  