.hide{
    display: none;
}

#body-wrapper{
    width: 100vw;
    height: 100%;
    top: 0;
    transition: 1s;
    overflow: hidden;
    background-color: white;
    position: absolute;
    z-index: 1000;
    transition: 1s;
}

#navbar, #gamebar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: #6232FB;
    bottom: 0;
    height: 32px;
    width: calc(100vw - 16px);
    padding: 8px !important;
    z-index: 10000;
    transition: 1s;
    background-color: rgba(0,0,0,0);
}

#gamebar{
    bottom: 32px;
    z-index: 10000;
    width: calc(100vw - 8px);
    height: 56px;
}

#gamebar > .svg-wrapper{
    width: 40px;
    height: 40px;
}

#navbar > .svg-wrapper{
    width: 32px;
    height: 32px;
}

#navbar > div > svg, 
#gamebar > div > svg{
    transition: 500ms;
}

#gamebar > div > svg > path, 
#gamebar > div > svg > line, 
#gamebar > div > svg > circle, 
#gamebar > div > svg > rect {
    fill:none;
    stroke:#6232FB !important;
    stroke-miterlimit:10;
    stroke-width:2px;
    fill-rule:evenodd; 
}

#navbar > div > svg > path, 
#navbar > div > svg > line, 
#navbar > div > svg > circle {
    fill:none;
    stroke:#6232FB;
    stroke-miterlimit:10;
    stroke-width:2px;
    fill-rule:evenodd; 
}

.alertbox-wrapper{
    transition: 0.75s ease-in !important;
}


#question{
    color: #6232FB;
    z-index: 1000;
    height: calc(100% - 48px);
}

#quote{
    color: #6232FB;
    z-index: 1000; 
    height: calc(100% - 48px);
}

#introduction{
    width: 100vw;
    height: calc(100% - 48px);
    color: white;
    z-index: 1000;
    background-color: rgba(0,0,0,0) !important;
}

#introduction > content-wrapper{
    height: auto;
    align-self: flex-start;
}

#game{
    top: calc((100% - 48px)* -1);
    height: calc(100% - 48px);
    z-index: 1000;
    background-color: white;
    color: #6232FB;
    transition: 1s;
}

#game-content{
    transition: 500ms;
    overflow: hidden;
}

.down{
    top: 0 !important;
}

#information{
    top: 0;
    left: 0;
    height: calc(100% - 48px);
    z-index: 2000;
    color: black;
    background-color: white;
    text-align: left;
    display: flex;
    align-items: flex-start !important;
    align-content: flex-start !important;
    text-align: left !important;
    transition: 1s;
}

#information > content-wrapper{
    height: auto;
    align-self: flex-start;
    top: 3em;
    transition: 1s !important;
    display: flex;   
}

#information-content{
    transition: 700ms !important;
}

.height{
    height: 100% !important;
}

button{
    width:auto;
    padding:0.3em 0.7em;
    border:solid white 1px;
    border-radius:1.3em;
}

#audio-player{
    height: 50px;
    width: 50vw;
    text-align: left !important;   
    display: block;
}



#play, #pause{
    position: relative;
    top: 0;
    left: 0;
    fill: #6232FB;
    height: 50px;
    width: 50px;
    transition: 300ms ease-in;
}

.disappear-audio{
    transform: scale(0.9);
    opacity: 0;
}

.dont-show{
    display: none;
}

.pulse{
 
 animation: pulse 1s infinite;   
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
  }

/* KATJA: DELETE THIS AFTER BETTER SOLUTION
#information{
   pointer-events: none; 
} */