#nav-bar{
    position: absolute;
    display: flex;
    justify-content: space-around;
    color: #6232FB;
    bottom: 5em;
    width: 100vw;
    z-index: 20000;
}

#question:after {
    content: "";
    animation: abomination 6.5s linear 1; 
    animation-fill-mode: forwards;
    width: calc(100vw - 6em);
    font-family: ABCGalapagosA;
    font-size: 2.3em;
    color: #6232FB;
    margin: 1em;
    line-height: 1.5em;
}

  @keyframes abomination {
      0% {
        content: "i";
      }
      4% {
        content: "is";
      }
      8% {
        content: "ist";
      }
      12% {
        content: "ist ";
      }
      16% {
        content: "ist d";
      }
      20% {
        content: "ist de";
      }
      24% {
        content: "ist den";
      }
      28% {
        content: "ist denk";
      }
      32% {
        content: "ist denke";
      }
      36% {
        content: "ist denken";
      }
      40% {
        content: "ist denken ";
      }
      44% {
        content: "ist denken e";
      }
      48% {
        content: "ist denken ei";
      }
      52% {
        content: "ist denken ein";
      }
      56% {
        content: "ist denken eine";
      }
      60% {
        content: "ist denken eine ";
      }  
      64% {
        content: "ist denken eine b";
      }
      68% {
        content: "ist denken eine be";
      }
      72% {
        content: "ist denken eine bew";
      }
      76% {
        content: "ist denken eine bewe";
      }  
      80% {
        content: "ist denken eine beweg";
      }
      84% {
        content: "ist denken eine bewegu";
      }
      88% {
        content: "ist denken eine bewegun";
      }
      92% {
        content: "ist denken eine bewegung";
      }   
      96% {
        content: "ist denken eine bewegung?";
      }
      100% {
        content: "ist denken eine bewegung?";
      }      
}