.question:after {
    content: "";
    animation: abomination 6.5s linear 1; 
    animation-fill-mode: forwards;
    width: calc(100vw - 6em);
    font-family: ABCGalapagosA;
    font-size: 2.3em;
    color: #6232FB;
    margin: 1em;
    line-height: 1.5em;
}

  @keyframes abomination {
      0% {
        content: "ka";
      }
      4% {
        content: "kan";
      }
      8% {
        content: "kann";
      }
      12% {
        content: "kann ";
      }
      16% {
        content: "kann m";
      }
      20% {
        content: "kann ma";
      }
      24% {
        content: "kann man";
      }
      28% {
        content: "kann man ";
      }
      32% {
        content: "kann man m";
      }
      36% {
        content: "kann man mi";
      }
      40% {
        content: "kann man mit";
      }
      44% {
        content: "kann man mit ";
      }
      48% {
        content: "kann man mit k";
      }
      52% {
        content: "kann man mit ku";
      }
      56% {
        content: "kann man mit kun";
      }
      60% {
        content: "kann man mit kuns";
      }  
      64% {
        content: "kann man mit kunst";
      }
      68% {
        content: "kann man mit kunst ";
      }
      72% {
        content: "kann man mit kunst s";
      }
      76% {
        content: "kann man mit kunst sp";
      }  
      80% {
        content: "kann man mit kunst spi";
      }
      84% {
        content: "kann man mit kunst spie";
      }
      88% {
        content: "kann man mit kunst spiel";
      }
      92% {
        content: "kann man mit kunst spiele";
      }   
      96% {
        content: "kann man mit kunst spielen";
      }
      100% {
        content: "kann man mit kunst spielen?";
      }      
}