#question:after {
    content: "kann man ein bild lesen?";
    animation: abomination 7.5s linear 1; 
    animation-fill-mode: forwards;
    width: calc(100vw - 4em);
    font-family: ABCGalapagosA;
    font-size: 2.3em;
    color: #7822F0;
    margin: 1em;
    line-height: 1.5em;
}

  @keyframes abomination {
      0% {
        content: " ";
      }
      2.5% {
        content: " ";
      }
      5% {
        content: "w";
      }  
      7.5% {
        content: "wi";
      }
      10% {
        content: "wie";
      }
      12.5% {
        content: "wie ";
      }
      15% {
        content: "wie m";
      }   
      17.5% {
        content: "wie ma";
      }
      20% {
        content: "wie mac";
      }
      22.5% {
        content: "wie mach";
      }
      25% {
        content: "wie macht";
      }  
      27.5% {
        content: "wie macht ";
      }
      30% {
        content: "wie macht m";
      }
      32.5% {
        content: "wie macht ma";
      }
      35% {
        content: "wie macht man";
      }   
      37.5% {
        content: "wie macht man ";
      }
      40% {
        content: "wie macht man d";
      }
      42.5% {
        content: "wie macht man da";
      }
      45% {
        content: "wie macht man das";
      }  
      47.5% {
        content: "wie macht man das ";
      }
      50% {
        content: "wie macht man das u";
      }
      52.5% {
        content: "wie macht man das un";
      }
      55% {
        content: "wie macht man das uns";
      }   
      57.5% {
        content: "wie macht man das unsi";
      }
      60% {
        content: "wie macht man das unsic";
      }
      62.5% {
        content: "wie macht man das unsich";
      }
      65% {
        content: "wie macht man das unsicht";
      }  
      67.5% {
        content: "wie macht man das unsichtb";
      }
      70% {
        content: "wie macht man das unsichtba";
      }
      72.5% {
        content: "wie macht man das unsichtbar";
      }
      75% {
        content: "wie macht man das unsichtbare";
      }   
      77.5% {
        content: "wie macht man das unsichtbare ";
      }
      80% {
        content: "wie macht man das unsichtbare s";
      }
      82.5% {
        content: "wie macht man das unsichtbare si";
      }
      85% {
        content: "wie macht man das unsichtbare sic";
      }  
      87.5% {
        content: "wie macht man das unsichtbare sich";
      }
      90% {
        content: "wie macht man das unsichtbare sicht";
      }
      92.5% {
        content: "wie macht man das unsichtbare sichtb";
      }
      95% {
        content: "wie macht man das unsichtbare sichtba";
      }   
      97.5% {
        content: "wie macht man das unsichtbare sichtbar";
      }
      100% {
        content: "wie macht man das unsichtbare sichtbar?";
      }      
}