#question:after {
    content: "kann man ein bild lesen?";
    animation: abomination 7.5s linear 1; 
    animation-fill-mode: forwards;
    width: calc(100vw - 4em);
    font-family: ABCGalapagosA;
    font-size: 2.3em;
    color: #7822F0;
    margin: 1em;
    line-height: 1.5em;
}

  @keyframes abomination {
      0% {
        content: " ";
      }
      2.5% {
        content: "k";
      }
      5% {
        content: "ka";
      }  
      7.5% {
        content: "kan";
      }
      10% {
        content: "kann";
      }
      12.5% {
        content: "kann ";
      }
      15% {
        content: "kann m";
      }   
      17.5% {
        content: "kann ma";
      }
      20% {
        content: "kann man";
      }
      22.5% {
        content: "kann man ";
      }
      25% {
        content: "kann man m";
      }  
      27.5% {
        content: "kann man mi";
      }
      30% {
        content: "kann man mit";
      }
      32.5% {
        content: "kann man mit ";
      }
      35% {
        content: "kann man mit b";
      }   
      37.5% {
        content: "kann man mit b";
      }
      40% {
        content: "kann man mit bli";
      }
      42.5% {
        content: "kann man mit blic";
      }
      45% {
        content: "kann man mit blick";
      }  
      47.5% {
        content: "kann man mit blicke";
      }
      50% {
        content: "kann man mit blicken";
      }
      52.5% {
        content: "kann man mit blicken ";
      }
      55% {
        content: "kann man mit blicken o";
      }   
      57.5% {
        content: "kann man mit blicken or";
      }
      60% {
        content: "kann man mit blicken ord";
      }
      62.5% {
        content: "kann man mit blicken ordn";
      }
      65% {
        content: "kann man mit blicken ordne";
      }  
      67.5% {
        content: "kann man mit blicken ordnen";
      }
      70% {
        content: "kann man mit blicken ordnen?";
      }
      100% {
        content: "kann man mit blicken ordnen?";
      }      
}