.hide{
    display: none;
}

#body-wrapper{
    width: 100vw;
    height: 100%;
    top: 0;
    transition: 1s;
    overflow: hidden;
    background-color: white;
    position: absolute;
    z-index: 1000;
    transition: 1s;
}

#navbar, #gamebar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: #7822F0;
    bottom: 0;
    height: 32px;
    width: calc(100vw - 16px);
    padding: 8px !important;
    z-index: 10000;
    transition: 1s;
    background-color: rgba(0,0,0,0);
}

#navbar{
    align-items: flex-end;
}

#gamebar{
    bottom: 32px;
    z-index: 10000;
    width: calc(100vw - 8px);
    height: 56px;
}

#gamebar > .svg-wrapper{
    width: 40px;
    height: 40px;
}

#navbar > .svg-wrapper{
    width: 32px;
    height: 32px;
}

#button-wrapper-shoot{
    width: 60px !important;
    height: 60px !important;
}

#navbar > div > svg, 
#gamebar > div > svg{
    transition: 500ms;
}

/* #gamebar > div > svg > path, 
#gamebar > div > svg > line, 
#gamebar > div > svg > circle, 
#gamebar > div > svg > rect {
} */

#navbar > div > svg > path, 
#navbar > div > svg > line, 
#navbar > div > svg > rect, 
#navbar > div > svg > circle {
    fill:none;
    stroke:#7822F0;
    stroke-miterlimit:10;
    stroke-width:2px;
    fill-rule:evenodd; 
}

.alertbox-wrapper{
    transition: 0.75s ease-in !important;
}


#question{
    color: #7822F0;
    z-index: 1000;
    height: calc(100% - 48px);
}

#quote{
    color: #7822F0;
    z-index: 1000; 
    height: calc(100% - 48px);
}

#introduction{
    width: 100vw;
    height: calc(100% - 48px);
    color: white;
    z-index: 1000;
    background-color: rgba(0,0,0,0) !important;
}

#introduction > content-wrapper{
    height: auto;
    align-self: flex-start;
}

#game{
    top: calc((100% - 48px)* -1);
    height: calc(100% - 48px);
    z-index: 1000;
    background-color:rgba(30, 30, 30 ,1);
    color: #6232FB;
    transition: 1s;
}

#game-content{
    transition: 500ms;
    overflow: hidden;
}

.down{
    top: 0 !important;
}

#information{
    top: 0;
    left: 0;
    height: calc(100% - 48px);
    z-index: 2000;
    color: black;
    background-color: white;
    text-align: left;
    display: flex;
    align-items: flex-start !important;
    align-content: flex-start !important;
    text-align: left !important;
    transition: 1s;
}

#information > content-wrapper{
    height: auto;
    align-self: flex-start;
    top: 3em;
    transition: 1s !important;
    display: flex;   
}

#information-content{
    transition: 700ms !important;
}

.height{
    height: 100% !important;
}

button{
    width:auto;
    padding:0.3em 0.7em;
    border:solid white 1px;
    border-radius:1.3em;
}

#audio-player{
    height: 50px;
    width: 50vw;
    text-align: left !important;   
    display: block;
}



#button-play, #button-pause{
    position: relative;
    top: 0;
    left: 0;
    fill: #7822F0;
    height: 40px;
    width: 40px;
    transition: 300ms ease-in;
}

.disappear-audio{
    transform: scale(0.9);
    opacity: 0;
}

.dont-show{
    display: none;
}

.pulse{
 
 animation: pulse 1s infinite;   
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
  }

/* KATJA: DELETE THIS AFTER BETTER SOLUTION
#information{
   pointer-events: none; 
} */

#gallery{
    height: 95vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    z-index: 32;
    top: 0px;
    visibility: hidden;
    z-index: 10000;
    
  }
  
  .gallery-animation{
    animation-name: showGallery;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  
  .gallery-animation-reverse{
    animation-name: hideGallery;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  
  .gallery-container{
    height: 82vh;
    overflow-y: scroll;
    display: grid;
    background-color: black;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px 10px;
    justify-items:center;
    margin-bottom: 50px;
    padding: 20px;
  }
  
  .gallery-frame{
    position:relative;
    padding: 0px;
    margin: 0;
   
  }
  
  .gallery-frame:focus .image-button{
    visibility: visible;
   
  }

  .active-gallery{
    
  }
  
  .gallery-frame img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
  }
  
  .gallery-frame img:focus {
    opacity: .5;
  }
  
  
  .image-button{
    position:absolute;
    visibility: hidden;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    bottom: 40px;
    right: 40px;
  
  }

  .gamebar-button-container{
    position: relative;
    width: 40px;
    height: 40px;
  
  }
  
   .toggle-button{
    width: 40px;
    height: 40px;
    border: 0;
    z-index: 20;
    background-color: #6232fb;
    border-radius: 20px;
   }
   
  .toggle-button button{
    padding: 0;
    border: 0;
    background: none;
  }
  
  
   .toggle-button svg{
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    fill: aliceblue;
  }
  
 
  #contrast-range{
    position: absolute;
    top:30px;
    left:0px;
  }
  
  .rotatedSlider{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  
  
  
  @keyframes showGallery {
    0%   {top:100vh;}
   
    100% {top:0vh;}
  }
  
  @keyframes hideGallery {
    0%   {top:0vh;}
   
    100% {top:100vh;}
  }
  
  
  /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 100px;
      height: 12px;
      border-radius: 20px;
      padding: 10px;
      padding-left: 36px;
      -webkit-appearance: none;
      background-color:rgba(255, 255, 255,0.7);
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 20px;
      -webkit-appearance: none;
      color: #6232fb;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      
    }
  
  }
  /** FF*/
  input[type="range"]::-moz-range-progress {
  background-color: #6232fb; 
  }
  input[type="range"]::-moz-range-track {  
  background-color:rgba(255, 255, 255,0.7);
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
  background-color: #6232fb; 
  }
  input[type="range"]::-ms-fill-upper {  
    background-color:rgba(255, 255, 255,0.7);
  }
  
  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #6232fb;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #6232fb;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #6232fb;
    cursor: pointer;
  }

  

@media (min-width:768px) {

    #navbar > .svg-wrapper{
        width: 50px;
        height: 50px;
    }
    
    #navbar, #gamebar{
        position: absolute;
        display: flex;
        justify-content: space-between;
        color: #7822F0;
        bottom: 0;
        height: 50px;
        width: calc(100vw - 32px);
        padding: 16px !important;
        z-index: 10000;
        transition: 1s;
        background-color: rgba(0,0,0,0);
    }   

    #gamebar{
        bottom: 50px;
        z-index: 10000;
        width: calc(100vw - 32px);
        height: 90px;
    }
    
    #gamebar > .svg-wrapper{
        width: 60px;
        height: 60px;
    }
        
    #button-wrapper-shoot{
        width: 90px !important;
        height: 90px !important;
    }    

#information, #introduction, #game{
        height: calc(100% - 82px);    
}

}